env local
auth_private_key_file test_server.key
auth_private_key_id 2023-08-11
allowed_cors_origins http://localhost:3000

use_local_jwts true

# TODO: Fill out and uncomment the below block if you plan on testing against an
# Azure AD B2C tenant. See the /cmd/server/README.md for more details

# azure_ad_tenant_name {tenant}
# azure_ad_user_flow {policy}
# azure_ad_client_id 00000000-1111-2222-3333-444444444444
# azure_ad_tenant_id 55555555-6666-7777-8888-999999999999
